{% extends 'template_base.html' %}
{% block titre %} CONSULTATION {% endblock %}

{% block contenu %}


    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Consultation</h1>
        <h4 class="mb-3">Liste des participants</h4>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénoms</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              {% for participant in LesParticipant %}
              <tr>
                <th scope="row">{{ participant.id }}</th>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenoms }}</td>
                <td>{{ participant.tel }}</td>
                <td>{{ participant.mail }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

{% endblock %}